<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Product List</h1>
    <a href="/inventory/add">Create New Product</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.productId}">Product ID</td>
            <td th:text="${product.productName}">Product Name</td>
            <td th:text="${product.productRating}">Product Rating</td>
            <td>
                <a th:href="@{'/inventory/edit/' + ${product.productId}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/inventory/delete/' + ${product.productId}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>